.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  background: #00BBAB;
  transition: 0.3s all ease-in;
  font-family: "Nunito Sans", sans-serif;
  z-index: 10;
  &.Navbar--collapsed {
    height: 90px;
    background: rgba(0, 187, 171, 0.9);
    .Navbar__Container .Navbar__Logo {
      transform: translateX(-50%) scale(0.6);
    }
  }
  .Navbar__Container {
    position: relative;
    height: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Navbar__SubContainer {
      display: flex;
      justify-content: space-around;
      width: calc(50% - 75px);
      .Navbar__Link {
        color: #fcda67;
        font-size: 24px;
      }
    }
    .Navbar__Logo {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s all ease-in;
      transform-origin: center top;
      img {
        width: 150px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Navbar {
    height: 75px;
    &.Navbar--collapsed {
      height: 60px;
      background: rgba(100, 191, 200, 0.9);
      .Navbar__MobileContainer .Navbar__Logo {
        transform: translateX(-50%) scale(0.6);
      }
    }
    .Navbar__MobileContainer {
      padding: 0 15px;
      display: block;
      .Navbar__Logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s all ease-in;
        transform-origin: center top;
        img {
          width: 100px;
        }
      }
    }
  }
}
