.discount{
  background: #f4f4f6;
  font-family: "Nunito Sans", sans-serif;
  >.maxWidthContainer{
    min-height: calc(100vh - 50px);
  }
  .header{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    >img {
      width: 100px;
      margin-bottom: 20px;
    }
  }
  .discountList {
    width: 100%;
    max-width: 400px;
    margin: auto;
    a{
      color: #ffffff;
    }
    .discountBox {
      border-radius: 3px;
      border: 2px solid #00BBAB;
      background: #00BBAB;
      width: 100%;
      margin: 15px 0;
      padding: 10px 0;
      text-align: center;
      .discountTitle{
        font-size: 20px;
        font-weight: 700;
        padding: 0 0 8px;
        margin: 0 20px;
        border-bottom: 1px solid #dddddd;
      }
      .discountCode{
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          display: inline-block;
          margin: 0 5px;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}