.Meetup {
  font-family: "Raleway", sans-serif;
  .maxWidthContainer {
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .Meetup__Title {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .Meetup__FindUs {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    .Meetup__MeetupIcon {
      width: 125px;
      margin-left: 15px;
    }
  }
  .Meetup__GrpName {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
  }
  .CustomCarousel {
    width: 35%;
    padding: 35% 0 0;
    margin-left: 30px;
  }
}
